@media screen and (max-width: 958px) {
  /* Styles for screens 500px or less go here */

  /* For example, you can make the menu items stack vertically */
  .menubar {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
