@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700;800;900&family=Poppins&family=Tilt+Neon&display=swap");
:root,
body {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Darker Grotesque", sans-serif;
}
input {
  margin: 0%;
  padding: 0%;
  border: 0;
}
